fieldset {
	margin: 1.5em 0 0;
	padding: 0.75em;
	border: 1px solid $color-grey-light;
}

legend {
	margin: 0 0 0 -0.375em;
	padding: 0 0.375em;
	font-family: $font-heading;
	font-weight: $font-heading-weight;
}

label {
	height: 2em;
	padding: 0.25em 0.5em;
	font-style: italic;
	text-align: right;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: 2em;
	padding: 0.25em;
	border: 1px solid $color-grey-light;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	-webkit-appearance: none;
	border-radius: 0.25em;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.05);
}

.input-group {
	width: 100%;
	margin-bottom: 1em;
	@include clearfix;
	input {
		float: left;
		display: inline-block;
		width: 70%;
	}
	label {
		float: left;
		display: inline-block;
		width: 30%;
	}
}

.checkbox-group {
	float: right;
	display: inline-block;
	width: 70%;
	input {
		height: 1.5em;
		width: 1.5em;
		background: normal;
		border: normal;
		border-radius: none;
	}
	label {
		display: inline-block;
		width: 70%;
		padding: 0 0 0 0.5em;
		font-style: normal;
		text-align: left;
	}
}