table {
	width: 100%;
	margin-top: 1.5em;
	border-collapse: collapse;
	border: 1px solid $color-grey-light;
	border-bottom: none;
}

thead {
	tr {
		background: $color-white-off;
	}
}

tr {
	display: table;
	width: 100%;
	border-bottom: 1px solid $color-grey-light;
	transition: all 0.05s linear;
	&:focus, &:hover {
		background: $color-white-off;
	}
}

th, td {
	height: 2em;
	padding: 0.75em;
}

th {
	font-family: $font-heading;
	font-weight: $font-heading-weight;
	text-align: left;
}

.table-btns {
	padding: 0.5em 0.75em;
	text-align: right;
}

.selected-row {
	background: $color-highlight;
	&:focus, &:hover {
		background: $color-highlight;
	}
}