$font-base-size: 13px;
$font-body: Roboto, sans-serif;
$font-body-weight: 400;
$font-heading: $font-body;
$font-heading-weight: 500;

$color-black: #363636;
$color-grey: #797979;
$color-grey-light: #C9C9C9;
$color-white: #FFF;
$color-white-off: #F3F3F3;

$color-brand: #009CDB;
$color-brand-alt: darken($color-brand, 10%);

$color-highlight: $color-brand;